@charset "utf-8";
div#UpperContents{
    height: 200px;
    background-color: orange;
}
div#MainContents{
    height: 650px;
    background-color: yellow;
}
div#LowerContents{
    height: 100px;
    background-color: green
}
*{
    margin: 0;
    padding: 0;
}
div#image{
    background-color: darkgreen;
    margin: 10px;
    padding: 10px;
}
img{
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: violet;
}
.image-book{
    margin: 10px;
    padding: 10px;
    background-color: red;
}

