@charset "utf-8";
table{
    margin: auto;
}
.ID, .password{
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
}
.login{
    padding: 10px;
}
.login_button{
    display: block;
    margin: auto;
    color: white;
    background: linear-gradient(to left, rgb(223, 6, 6) ,yellow);
    border-color: black;
    border-radius: 10px;
    font-weight:900;
    padding: 20px;
    width: 400px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.login_select{
    font-weight: bold;
    opacity: 0.4;
    color: black
}
a:visited{
    color: black;
    text-decoration: none;
}
a:link{
    text-decoration: none;
}
.text_wall{
    opacity: 0.2;
}
.MainLogo{
    text-align: center;
    font-weight: 900;
    font-size: 80px;
    background: linear-gradient(to right,rgb(243, 31, 31),rgb(255, 166, 0));
    color: transparent;
    -webkit-background-clip: text;
}
body{
    background: linear-gradient(to left,red,black)
}
